# Common variables
TZ=
DISCORD_BOT_TOKEN=

# Bot variables
BOT_PREFIX=
DEV_CHANNEL_ID=
CONTROL_PANEL_URL=
CONTROL_PANEL_TOKEN=

# Control Panel variables
FLASK_APP=
FLASK_SECRET_KEY=

PREFERRED_URL_SCHEME=

CONTROL_PANEL_ADMIN_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=