nav img {
    max-width: 50px;
}

.bi.bi-64 {
    font-size: 64px;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.alert-dismiss-btn {
    position: absolute;
    font-size: 10px;
    top: 3px;
    left: 3px;
}