@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');.dc-embed-container {
    font-family: Roboto; 
    font-weight: bold;
    background-color: #313338;
    color: #F2F3F5;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}

.tooltip-inner{
    white-space:pre-wrap;
}

html, body, .body-container {
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.scrollable-container {
    flex: 1;
    overflow-y: scroll;
}

.dc-timestamp {
    font-weight: normal;
    font-size: 13px;
    color: #767c83;
}

b {
    font-weight: 900;
}

h6 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}

h6 > a {
    text-decoration: none;
    color: #1C9CFC;
}

h6 > a:hover {
    text-decoration: underline;
}

.dc-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
}

.dc-embed {
    border-left: 5.5px solid #CF540B ! important;
    border-radius: 5px 0px 0px 5px;
    background-color:#2B2D31;
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    color: #DBDEE1;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    max-width: 750px;
    min-width: 250px;
    z-index: 1;
}

.dc-news-body[contenteditable="true"]::before {
    content: attr(before-text);
}
.dc-news-body[contenteditable="true"]::before {
    /* font-weight: bold; */
    color: #767c83;
}


[contenteditable="true"] {
    outline: #969696 1px solid;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[contenteditable="true"]:focus {
  border-color: #86b7fe;;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
 
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-3px); }
    20%, 80% { transform: translateX(3px); }
    30%, 50%, 70% { transform: translateX(-3px); }
    40%, 60% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}

.content-editable-error {
    outline-color: #995b5d;
    animation: shake 0.7s;
}

.content-editable-error:focus {
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.15) !important;
}

.content-editable-error-label {
    color: #f77a7e;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}

.dc-embed-thumbnail {
    width: 100px;
    height: 100px;
}

.dc-btn {
    --dc-btn-color: transparent;
    --dc-hover-color: transparent;
    display: inline-block;
    padding: 0.375rem 1rem;
    /* font-family: inherit; */
    /* font-size: 1rem; */
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle; 
    color: white;
    border: 1px solid transparent;
    border-radius: 0.275rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    background-color: var(--dc-btn-color);
    /* transition: color .11s ease-in-out,background-color .11s ease-in-out,border-color .11s ease-in-out,box-shadow .11s ease-in-out; */
}

button.dc-btn:enabled:hover,
:not(button).dc-btn:hover {
    background-color: var(--dc-hover-color);
}

.dc-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}

.dc-text-btn {
    height: 1.5em;
    width: auto;
    padding: 0 0.3em 0 0.3em;
}

.dc-btn-primary {
    --dc-btn-color: #5865F2;
    --dc-hover-color: #4752C4;
}

.dc-btn-success {
    --dc-btn-color: #3ba55c;
    --dc-hover-color: #359553;
}

.dc-btn-danger {
    --dc-btn-color: #f04747;
    --dc-hover-color: #d24444;
}

.dc-btn-secondary {
    --dc-btn-color: #4f545c;
    --dc-hover-color: #474c53;
}

.dc-btn-danger {
    --dc-btn-color: #ed4245;
    --dc-hover-color: #d53b3e;
}

.dc-btn-warning {
    --dc-btn-color: #faa61a;
    --dc-hover-color: #e59917;
}


.dc-right-slider-80 {
    transform: translateX(-83%);
    transition: transform 0.2s ease-in-out;
}

.dc-right-slider-80:hover {
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
}

.dc-embed-drawer{
    max-height: 150px;
    width: 100px;
    background-color: #2B2D31;
    border-radius: 0px 5px 5px 0px;
}


.dc-embed-drawer-body {
    width: 83%;
}

.dc-embed-drawer-handle{
    width: 17%;
    background-color: #5865F2;
    border-radius: 0px 5px 5px 0px;
}

@media (max-width: 768px) {
    .dc-embed-thumbnail {
        width: 80px;
        height: 80px;
    }

    .scrollable-container {
        overflow-y: unset;
        border-radius: 0px;
    }

    .radius-sm-0 {
        border-radius: 0 !important;
    }
    
}

@media (max-height: 520px) {
    .scrollable-container {
        overflow-y: unset;
        border-radius: 0px;
    }

    .radius-sm-0 {
        border-radius: 0 !important;
    }
}

@media (max-width: 490px) {
    .dc-embed-thumbnail {
        width: 60px;
        height: 60px;
    }
    .dc-avatar {
        width: 40px;
        height: 40px;
    }
} 