{% extends 'base.html' %}
{% block extra_css %}<link href="/css/forbidden.css" rel="stylesheet" type="text/css">{% endblock %}
        
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row flex-nowrap pt-5">
        <div class="col-4">
            <img src="/captain.png" class="img-fluid"></img>
        </div>
        <div class="col-8 align-self-center">
            <h1>403 Forbidden</h1>
            <p>You do not have permission to access this resource.</p>
            <p>Captain won't let you use his OGM-72 'DIABLO' Strike</p>
        </div>
        
    </div>
</div>
{% endblock %}
