{% extends "base.html" %}
{% block title %} Silksong news {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/css/silksong.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container py-3 rounded dc-embed-container mb-5">
    <div class="row flex-nowrap mb-5">
        <div class="col-auto">
            <img src='{{ user_avatar }}' class="rounded-circle" style="max-width: 50px;"></img>
        </div>
        <div class="col">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-auto ps-0">{{ username }}</div>
                    <div class="col-auto align-self-center dc-timestamp ps-1">Today at 12:15 PM{#{ news.created_on|date:"d/m/Y" }#}</div>
                </div>
                <div class="row">
                    <div class="card border-0 dc-embed">
                        <div class="row flex-nowrap">
                            <div class="col ps-2">
                                <div class="card-body px-0 h-100 d-flex flex-column">
                                    <h6 class="ps-1"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Daily Silksong News</a></h6>
                                    <p class="dc-news-body card-text flex-grow-1 text-break rounded-1 ps-1" before-text="Today is <>. There are silksong news today! "contenteditable="true"></p>
                                </div>
                            </div>
                            <div class="col-auto p-3 ps-0 ms-auto">
                                <img class='dc-embed-thumbnail rounded' src="https://sm.ign.com/t/ign_nordic/cover/h/hollow-kni/hollow-knight-silksong_46ud.128.jpg"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-nowrap">
        <div class="col-auto">
            <img src='{{ user_avatar }}' class="rounded-circle" style="max-width: 50px;"></img>
        </div>
        <div class="col">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-auto ps-0">{{ username }}</div>
                    <div class="col-auto align-self-center dc-timestamp ps-1">09/23/2023 9:37 AM{#{ news.created_on|date:"d/m/Y" }#}</div>
                </div>
                <div class="row">
                    <div class="card border-0 dc-embed">
                        <div class="row flex-nowrap">
                            <div class="col ps-2">
                                <div class="card-body px-0 h-100 d-flex flex-column">
                                    <h6 class="ps-1"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Daily Silksong News</a></h6>
                                    <p class="dc-news-body card-text flex-grow-1 text-break rounded-1 ps-1" before-text="Today is September 23rd 2023. There are silksong news today! " contenteditable="false">
                                        Well... kinda...
                                        The silksong steam page was updated they added a new game logo required for seasonal steam events and updated the background image of the page.
                                        <br><br>
                                        More info: https://youtu.be/MXwgo-JHYPQ?si=hsVv5Y7RXVmX8RlH
                                    </p>
                                </div>
                            </div>
                            <div class="col-auto p-3 ps-0 ms-auto">
                                <img class='dc-embed-thumbnail rounded' src="https://sm.ign.com/t/ign_nordic/cover/h/hollow-kni/hollow-knight-silksong_46ud.128.jpg"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="/js/silksong.js"></script>
{% endblock %}
```