{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% set cards = [
    {'title': 'Users', 'text': 'View and manage users.', 'button': 'Users', 'icon': 'bi-person-circle', 'link': '/users'},
    {'title': 'Victim count', 'text': 'Number of times Diablo Strike killed each user.', 'button': 'Victims','svg': 'skull-bomb', 'link': '#'},
    {'title': 'Audio commands', 'text': 'View and manage audio commands.', 'button': 'Audios', 'icon': 'bi-volume-up', 'link': '#'},
    {'title': 'Playlists', 'text': 'View and manage playlists for the music bot.', 'button': 'Playlists', 'icon': 'bi-music-note-list', 'link': '#'},
    {'title': 'Message combo', 'text': 'View and manage message combos.', 'button': 'Combos', 'icon': 'bi-chat-square-text', 'link': '#'},
    {'title': 'Silksong news', 'text': 'View and manage silksong news.', 'button': 'Silksong','svg': 'needle', 'link': '/silksong'},
] %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Dashboard</h1>
    <div class="row">
    {% for card in cards %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="container">
                        <div class="row d-flex flex-nowrap align-items-center">
                            <div class="col-10 customized-col">
                                <h4 class="card-title">{{ card.title }}</h4>
                                <p class="card-text">{{ card.text }}</p>
                                <a href="{{ card.link }}" class="btn btn-primary{% if card.link == '#' %} disabled{% endif %}">Go to {{ card.button }}</a>
                            </div>
                            <div class="col-auto">
                            {% if not card.icon %}
                                <img src="/svg/{{ card.svg }}.svg">
                            {% else %}
                                <i class="bi bi-64 {{ card.icon }}"></i>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
{% endblock %}